@page "/"

<PageTitle>Queue job</PageTitle>

@using ApplicationCore
@inject JobQueue JobQueue
@inherits OwningComponentBase

<h1>Job scheduling</h1>
<p>Jobs on queue: @jobCount</p>

@* <table class="table">
    <thead>
        <tr>
            <th>Worker</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @for (int i = 0; i < workers.Count(); i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@workers.ElementAt(i).Status</td>
            </tr>
        }
    </tbody>
</table> *@

<button class="btn btn-primary" @onclick="AddJobAsync">Add a job</button>
@* <button class="btn btn-primary" @onclick="AddFailingJob">Add a failing job</button> *@

@code {
    private long jobCount;

    protected override async Task OnInitializedAsync()
    {
        this.jobCount = await JobQueue.CountAsync();
    }

    private async Task AddJobAsync()
    {
        var newJob = new Job(
            Guid.NewGuid(),
            $"Job {this.jobCount + 1}",
            DateTime.Now
        );

        await JobQueue.EnqueueAsync(newJob);

        jobCount++;
    }
}
